.movement-nav {
  margin-bottom: 0px;
}

.transparency-slider{
  width:200px;
  height:25px;
  background-color: #AAA;
}
.transparency-knob{
  position: relative;
  height:25px;
  width:25px;
  left: 25px;
  top: 0px;
  background-color: #66F;
}

.highlight-label {
  margin-bottom: 2px;
  margin-right: 2px;
  margin-top: 2px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
}

.nav_controls_container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background: #FFFC;
  padding: 5px;
  font-family: sans-serif;
}

.highlight-container {
  position: absolute;
  top: 200px;
  left: 10px;
  z-index: 1;
  background: #FFFC;
  padding: 10px;
  font-family: sans-serif;
  overflow: auto;
  max-height: calc(100vh - 180px);
}

.legend-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  background: #FFFC;
  padding: 5px;
  padding-left: 25px;
  font-family: sans-serif;
}

.collapsable-menu {
  cursor: pointer;
  user-select: none;
  color: #0088cc;
  padding: 5px;
}

.collapsable-menu-ul {
  list-style-type: none;
  display: none;
}

.toggle-switch {
  cursor: pointer;
  box-shadow: #0088cc -15px 0px;
  color: #0088cc;
  border-radius: 5px;
  display: inline;
  padding-left: 5px;
  user-select: none;
}

.toggle-container {
  cursor: pointer;
  display: inline;
  padding-left: 20px;
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.canvas-container,
.canvas-container canvas {
  background-color: inherit;
}
.omoroth-legend {
  box-shadow: #9e3f9b -15px 0px;
  margin-right: 20px;
}
.morpha-legend {
  box-shadow: #1898F4 -15px 0px;
  margin-right: 20px;
}
.bowcity-legend {
  box-shadow: #AAAAAA -15px 0px;
  margin-right: 20px;
}
.bowvault-legend {
  box-shadow: #ff6a00 -15px 0px;
  margin-right: 20px;
}

.ivy-legend {
  box-shadow: #FF00FF -15px 0px;
  margin-right: 20px;
}

.mold-legend {
  box-shadow: #6cbbe0 -15px 0px;
  margin-right: 20px;
}

.azeos-legend {
  box-shadow: #3d9b41 -15px 0px;
  margin-right: 20px;
}

.malugaz-legend {
  box-shadow: #678397 -15px 0px;
  margin-right: 20px;
}

.hive-mother-legend {
  box-shadow: #fca694 -15px 0px;
  margin-right: 20px;
}

.ghorm-legend {
  box-shadow: #d95917 -15px 0px;
  margin-right: 20px;
}

.glurch-legend {
  box-shadow: #7f5f30 -15px 0px;
  margin-right: 20px;
}

.large-maze-legend {
  box-shadow: #0F0 -15px 0px;
  margin-right: 20px;
}

.medium-maze-legend {
  box-shadow: #0FF -15px 0px;
  margin-right: 20px;
}

.small-maze-legend {
  box-shadow: #F0F -15px 0px;
  margin-right: 20px;
}